.fonctionnement {
  padding: 0 10px;
}

.fonctionnement-heading__step {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  margin-left: 10px;
}

.fonctionnement-heading__step--bulle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  padding-left: 5px;
  color: white;
  background-color: #9356DC;
  position: absolute;
  top: 35px;
  left: -10px;
}

.fonctionnement-heading__step--p {
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 4px silver;
  width: 100%;
}

.fonctionnement-heading__step--p--i {
  margin-right: 20px;
}

.restaurants {
  padding: 0 10px;
  background-color: #F2F2F2;
}

.restaurant {
  border-radius: 10px;
  padding: 10px;
}

.restaurant__image {
  width: 100%;
}

.restaurant__image--img {
  width: 100%;
  object-fit: cover;
}

.restaurant__infos {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__titre {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  padding-left: 40px;
  padding-top: 20px;
}

.footer__liste {
  font-size: 13px;
}

.footer__liste--li {
  padding-bottom: 10px;
}

.footer__liste--li--i {
  padding-right: 10px;
}

.footer a {
  color: white;
}
