.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__titre {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  padding-left: 40px;
  padding-top: 20px;
}

.footer a {
  color: white;
}

.restaurant {
  width: 100%;
}

.restaurant__image {
  width: 100%;
}
