.heading__photo-resto {
  width: 100%;
}

.heading__photo-resto--img {
  width: 100%;
}

.resto-la-francaise {
  background-color: #F2F2F2;
  padding: 0 10px;
}

.entrees__carte {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
