$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*body {
    overflow: hidden;
    animation: 3s ease-in-out 3s  after-loader;
    position:relative;
    
}
@keyframes after-loader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        overflow: auto;    
    }
}*/
/*body {
    overflow: hidden;
    animation: 3s ease-in-out 0s after-loader;
}
@keyframes after-loader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        overflow: auto;    
    }
}*/
body {
    position: relative;
}

.loading {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    /*top: calc(50% - 24px);
    left: calc(50% - 24px);*/
    /*overflow: hidden;*/
    /*text-align: center;*/
    animation:  3s linear 2s both loader;
    background-color: #fff;
    color: rgb(83, 6, 64);
    & i {
        top: 50%;
        left: 50%;
        position: absolute;
    }
    
}
@keyframes loader { 
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        z-index: -999;
        /*overflow: auto;*/
        
    } 
}


.fonctionnement {                                                                                                      
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: 1024px) {
        text-align: center;
    }
}
.fonctionnement-heading {
    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
    }
    &__step {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        position: relative;
        margin-left: 10px;
        @media (min-width: 1024px) {
            width: 31%;
        }
        &--bulle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            line-height: 20px;
            padding-left: 5px;
            color: white;
            background-color: $couleur-primaire;
            position: absolute;
            top: 35px;
            left: -10px;
            @media (min-width: 1024px) {
                width: 30px;
                height: 30px;
                line-height: 30px;
                padding-left: 0px;
                top: 29px;
                left: -17px;
            }
        }
        &--p {
            padding: 20px;
            background-color: #F6F6F6;
            border-radius: 15px;
            box-shadow: 2px 2px 6px 4px silver;
            width: 100%;
            &--i{
                margin-right: 20px;
                color: #7e7e7e;
            }
        }
    }
}
.restaurants {
    padding: 40px 10px;
    background-color: #F2F2F2;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        h2 {
            text-align: center;
        }
    }
    &__titre {
        margin: 10px;
    }
    &__bloc {
        @media (min-width: 1024px) {
            display:flex;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            display: flex;
            flex-wrap: wrap; /*chaque restaurant occupe 50% de largeur et tout ce qui depasse va à la ligne; d'où la flex-wrap*/
        }
    }
}

.new::before { /*ajout de la partie "Nouveau"*/
    content: "Nouveau";
    position: absolute;
    top: 15px;
    right: 16px;
    background-color: $couleur-tertiaire;
    color: #008766;
    padding: 5px 10px;
    font-size: 14px;
}
.restaurant {
    border-radius: 10px;
    padding: 10px;
    @media (min-width: 1024px) {
        width: 100%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        width: 50%;/*chaque restaurant occupe une largeur de 50% entre 768px et 1023px */
    }
    &__image {
        width: 100%;
        height: 180px;
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        &--img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }
    &__infos {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: white;
        padding: 20px 20px 20px 10px;
        box-shadow: 2px 2px 5px 3px silver;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        &--text {
            p {
                margin:0;
            }
        }
    }
}
