.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__titre {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        padding-left: 40px;
        padding-top: 20px;
    }
}
.footer a {
    color: white;
    
}
.restaurant {
    
    &__image {
        width: 100%;
        &--img {
            width: 100%;
        }
    }
}
