.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__titre {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        padding-left: 40px;
        padding-top: 20px;
    }
}
.footer a {
    color: white;
    
}
.restaurants {
    padding: 0 10px;
    background-color: #F2F2F2;
}
.restaurant {
    border-radius: 10px;
    padding: 10px;
    &__image {
        width: 100%;
        &--img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__infos {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: white;
    }
}
.fonctionnement-heading {
    &__step {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}
