* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body a {
    text-decoration: none;
    color: black;
}
body ul {
    list-style-type: none;
}
body h2, h3 {
    font-weight: bold;
    margin: 0;
}

@import 'variables';

.bouton {
    padding: 15px;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 5px 5px 3px #c5c5c5;
    background: linear-gradient($couleur-secondaire, $couleur-primaire );
}
 a {
 &:hover.bouton{
        box-shadow: 0px 5px 5px 3px grey;/*changement couleur ombre pour être plus visible*/
        background: linear-gradient(90deg, lighten($couleur-secondaire, 10) 0%, lighten($couleur-primaire, 10) 100%);
    }   
}   

.like {
    transition: all 0.3s linear 0s;
    &:hover {
        cursor: pointer;
        background-clip: text;
        -webkit-background-clip: text;
        background-image:linear-gradient($couleur-primaire,$couleur-secondaire); 
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        animation: bouton-like 1s 0.1s backwards ease-in-out;
    }
    @keyframes bouton-like {/*Keyframes pour faire apparaître la couleur progressivement au hover*/
        0% {
            opacity: 0;
        }
        10% {
            opacity: 0.2;
        }
        30% {
            opacity: 0.3;
        }
        50% {
            opacity: 0.5;
    
        }
        65% {
            opacity: 0.7;
        }
        80% {
            opacity: 0.8;
        }
        90% {
            opacity: 0.9;
        }
        100% {
            opacity: 1;
        }
    }

}


.heading {
    display: flex;
    flex-direction: column;
    &__logo{
        z-index:2;
        box-shadow: 5px 0px 5px 3px #cecece;
        padding-top: 10px;
        padding-bottom: 10px;
        &--img {
            width: 200px;
            display: block;
            margin: auto;
            @media (min-width: 1024px) {
                width: 220px;
            }
        }
        
    }
    &__localisation {
        text-align: center;
        background-color: #eaeaea;
    }
    &__titre{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $background-color-clair;
        padding: 40px 10px;
    }
}
.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__titre {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
    }
    &__liste {
        font-size: 13px;
        padding-left: 20px;
        &--li {
            margin-bottom: 10px;
            &--i {
                margin-right: 10px;
                width: 20px;
            }
        }
    }
}
.footer a {
    color: white;
    
}
