* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body a {
    text-decoration: none;
    color: black;
}
body ul {
    list-style-type: none;
}
body h2, h3 {
    font-weight: bold;
    margin: 0;
}

//à compléter font-family: 'Shrikhand', cursive;  pour les titres et logo

$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
/*$light-couleur-primaire: lighten (#9356DC, 50%);
$light-couleur-secondaire: lighten (#FF79DA, 25%);
$dark-box-shadow: darken (0px 5px 5px 3px #c5c5c5, 10%);
$light-color: lighten(#9356DC,30% ), (#FF79DA, 30%);*/

.bouton {
    padding: 15px;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 5px 5px 3px #c5c5c5;
    background: linear-gradient($couleur-secondaire, $couleur-primaire );
    &:hover a {
        background: linear-gradient ( lighten ($couleur-secondaire, 10%), darken ($couleur-primaire, 15%) );
        opacity: 1;
        z-index: -1;
        transition: opacity 250ms;
        /*background: linear-gradient($light-color);*/
        /*box-shadow: $dark-box-shadow;*/
        
    }
}

.like {
    transform: scale(1);
    transition: transform 0.2s;
    &:hover {
        cursor: pointer;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        background-image:linear-gradient($couleur-primaire,$couleur-secondaire);
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        transform: scale(1.5);
    }
}


.heading {
    display: flex;
    flex-direction: column;
    &__logo{
        z-index:2;
        box-shadow: 5px 0px 5px 3px #cecece;
        padding-top: 10px;
        padding-bottom: 10px;
        &--img {
            width: 200px;
            display: block;
            margin: auto;
            @media (min-width: 1024px) {
                width: 220px;
            }
        }
        
    }
    &__localisation {
        text-align: center;
        background-color: #eaeaea;
    }
    &__titre{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #F6F6F6;
        padding: 40px 10px;
    }
}
.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__titre {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
    }
    &__liste {
        font-size: 13px;
        padding-left: 20px;
        &--li {
            margin-bottom: 10px;
            &--i {
                margin-right: 10px;
                width: 20px;
            }
        }
    }
}
.footer a {
    color: white;
    
}
