.heading {
    &__photo-resto {
        width: 100%;
        &--img {
            width: 100%;
        }
    }
}
.resto-la-francaise {
    background-color: #F2F2F2;
    padding: 0 10px;
}
.entrees {
    &__carte {
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
    }
}