$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$padding-principal: 0px 10px;

@-moz-keyframes rotation { 
    100% { 
        -moz-transform: rotate(360deg);
     } 
}
@-webkit-keyframes rotation { 
    100% { 
        -webkit-transform: rotate(360deg); 
    } 
}
@keyframes rotation { 
   /* 0% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg);
        overflow: hidden;
    }
    25% {
        transform: rotate(360deg);
        overflow: visible;
    }*/
    100% {
        transform: rotate(360deg);
    }
}



body h1 {
    font-family: 'Shrikhand', cursive;
}
.heading {
    &__photo-resto {
        width: 100%;
        height: 250px;
        object-fit: cover;
        @media (min-width: 1024px) {
            height: 514px;
        }
        &--img {
            width: 100%;
            height: 100%; /*height: 250px*/
            object-fit: cover;
            @media (min-width: 1024px) {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    &__resto {
        display: flex;
        align-items: center;
        padding: $padding-principal;
        &--logo {
            display: block;
            margin: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
.restos {
    background-color: #F6F6F6;
    padding: $padding-principal;
    position: relative;
    margin-top: -55px;/**marge négative pour supperposer la section resto par rapport au header*/
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 2;
    
    @media (min-width: 1024px) {
        width: 80%;
        margin: -55px auto 0px;
    }
    &__heading {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 30px;
    }
}
.resto {
   /* display: none;test @keyframes
    min-height: 900px; test @keyframes*/
    padding: 10px;
    h3 {
        padding: 10px;
        font-weight: normal;
        font-size: 15px;
        position: relative;
        &::after {
            content: ""; /*ajout du soulignement sur les titres h3*/
            width: 38px;
            height: 3px;
            background-color: $couleur-tertiaire;
            position: absolute;
            z-index: 2;
            display: block;
            left: 10px;
            bottom: 0;
            }    
        
    }
    
    &__carte {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.5s;
        @media (min-width: 1024px) {
            padding-right: 0px;
            
        }
        &:hover .resto__carte--checked{
            display: initial;
            width: 90px;
            height: 86px;
            line-height: 86px;
            background-color: $couleur-tertiaire;/*à modifier*/
            color: white;
            text-align: center;
            margin-left: 20px;
            margin-right: -10px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            transition: 0.5s;
            overflow: hidden;
            animation: checked 0.5s 1s ease-in-out forwards;
            @media (min-width: 1024px) {
                margin-right: 0px;
                margin-left: 10px;
            }
            
            & span { 
                
                display: block;
                -webkit-animation: rotation 0.3s linear ;/*rotation de l'icône à 360deg pendant 0.3secondes*/
                -moz-animation: rotation 0.3s linear ;
                animation: rotation 0.3s 0.1s linear; 
               
            }
           
        }
        &--plat {
            text-overflow: ellipsis;/*remplacement du texte pardes pointillés, quand il y a beaucoup de texte*/
            white-space: nowrap;
            overflow: hidden;
            width: 85%;
            >p {
                text-overflow: ellipsis; 
                white-space: nowrap;
                overflow: hidden;
            }
            >:nth-of-type(1){
                font-weight: bold;
            }
        }
        &--prix {
            width: 5%;/*le cadrant du prix prend 20% du cadre parent pour laisser place à la div checked d'apparaître au hover*/
            p {
                font-weight: bold;
            }
        }
        &--checked {
            width: 0px;
            transition: 0.5s;
            overflow: hidden;
            transform: scaleX(1);
            transform-origin: right;
            & span { 
                display: none;
                color: white;
            }
        }
    }
}

@keyframes checked {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform-origin: right;
        transform: scaleX(0);
        
    }
}

.resto, .entrees, .plats, .desserts {
    opacity: 0;

}
.resto {
    &.entrees {
        // animation: durée transition délai nom-animation
        animation: 1s ease-in-out 0.2s both apparition-progressive;
        
        
    }
    &.plats {
        animation: 1s ease-in-out 0.6s both apparition-progressive;
       
        
    }
    &.desserts {
        animation: 1s ease-in-out 1s both apparition-progressive;
        
        
    }
}

@keyframes apparition-progressive {
    0% {
        transform-origin: initial;   
    }
    100% {
        opacity: 1;
        transform-origin: initial;
    }
}




    
/*fin keyframes*/


.bouton-commande {
    text-align: center;
    padding: 50px;
}